* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

h1 {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    color: rgb(24, 32, 30);
    text-align: center;
    padding: 1em;
}

h1:hover { 
    color: rgb(12, 70, 128);
    text-shadow: gray 5px 5px;
}

.container {
    text-align: center;
    width: 100%;
}
table,
th,
td {
    border-collapse: collapse;
}

table{
    width: 80%;
    font-size: 90%;
    background-color:rgba(24, 32, 30, 0.891);
    padding: 0.5em 1em;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
}

thead { 
    background-color:rgb(24, 32, 30);
}
th {
    padding: 1em 3em;
    border-bottom: 0.2em solid #fff;
}

td {
    padding: 1em 0;
    
}